[submodule "SpvGenTwo"]
	path = SpvGenTwo
	url = git@github.com:rAzoR8/SpvGenTwo.git
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "thirdparty/ImNodes"]
	path = thirdparty/ImNodes
	url = git@github.com:rAzoR8/ImNodes.git
[submodule "thirdparty/SPIRV-Tools"]
	path = thirdparty/SPIRV-Tools
	url = https://github.com/KhronosGroup/SPIRV-Tools.git
[submodule "thirdparty/SPIRV-Headers"]
	path = thirdparty/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
